/* タイピングゲーム全体 */
body {
      text-align: center;
    }
    
    /* ゲームの残り秒数が表示されるタイマーの領域 */
    .count-area {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    .count {
      font-size: 5rem;
      padding: 0 20px;
      font-weight: bold;
      color: #888;
    }

    .content {
      font-size: 2rem;
    }
    
    /* テキストが表示される領域 */
    .wrap {
      text-align: center;
      font-size: 5rem;
      margin-top: 0px;
      padding: 80px 40px;
      background-color: #666;
      font-weight: bold;
      color: #fff;
    }
    
    /* 正しくタイプされた場合のテキスト */
    .typed {
      color: lightgreen;
    }
    
    .typed-area {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    .typedcount {
      font-size: 5rem;
      padding-left: 20px;
      font-weight: bold;
      color: #888;
    }

    /* ミスタイプの場合の背景 */
    .mistyped {
      background-color: red;
    }
    